<div class="container">
  <%= render 'shared/messages' %>
  <div class="page-header">
    <h1><%= @event.title %></h1>
  </div>
  <div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t(:title) %></h3>
          </div>
          <div class="panel-body"><%= @event.hold_at %></div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t(:capacity) %></h3>
          </div>
          <div class="panel-body"><%= @event.capacity %>人</div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t(:location) %></h3>
          </div>
          <div class="panel-body"><%= @event.location %></div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t(:owner) %></h3>
          </div>
          <div class="panel-body"><%= @event.owner %></div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t(:description) %></h3>
          </div>
          <div class="panel-body"><%= @event.description %></div>
        </div>
        <% if @attend_status %>
          <%= link_to t(:absent_event), absent_event_path(@event), class: 'btn btn-primary btn-lg btn-block' %>
        <% elsif logged_in? %>
          <%= link_to t(:attend_event), attend_event_path(@event), class: 'btn btn-primary btn-lg btn-block' %>
        <% end %>
      </div>
    <div class="col-md-3">
      <div id="attendance" class="panel panel-primary mgn">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t(:attendees_list) %></h3>
        </div>
        <div class="panel-body">
            <% @attended.each do |attendance| %>
              <li>
                <%= image_tag attendance.user.image, width:20, height:20 %>
                <%= link_to attendance.user.name, user_path(attendance.user_id) %>
              </li>
            <% end %>
        </div>
      </div>
      <div id="absence" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t(:absentees_list) %></h3>
        </div>
        <div class="panel-body">
          <% @absented.each do |absence| %>
            <li>
              <%= image_tag absence.user.image, width:20, height:20 %>
              <%= link_to absence.user.name, current_user %>
            </li>
          <% end %>
        </div>
      </div>
      <% if @event.created_by?(current_user) %>
        <%= link_to t(:update_event), edit_event_path(@event), class: 'btn btn-warning btn-block' %>
        <%= link_to t(:delete_event), event_path(@event), method: :delete, data: { confirm: t(:delete_event?) }, class: 'btn btn-danger btn-block mgn'%>
      <% end %>
    </div>
  </div>
</div>
