<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container">
     <%= link_to "near_atnd", root_path, id: "logo" %>
     <nav>
       <ul class="nav navbar-nav navbar-right">
         <% if logged_in? %>
         <li><%= link_to "プロフィール", current_user %></li>
         <li><%= link_to "新しくイベントを作る", new_event_path %></li>
         <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
         <% else %>
         <li><%= link_to "Twitterでログイン", '/auth/twitter' %></li>
         <% end %>
       </ul>
     </nav>
   </div>
 </header>
